@import '~styles/variables.scss';

.layout {
	transition: padding-left $fast;
	will-change: padding-left;
	padding-left: $nav-collapsed-width;

	@media (max-width: 36rem) {
		padding-left: 0;
	}

	@media (min-width: 62rem) {
		padding-left: $nav-width;
	}
}
