@import '~styles/variables.scss';

.sidebar {
	transition: width $fast, left $fast;
	will-change: width, left;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: $primary-color;
	color: white;
	overflow: hidden;

	width: $nav-collapsed-width;

	&.open {
		width: $nav-width;
		left: 0;
	}

	@media (max-width: 36rem) {
		left: -$nav-width;
	}

	@media (min-width: 62rem) {
		width: $nav-width;
	}
}
